body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #dddddd;
    color: #fff;
    padding: 5px 10px;
}

.text {
    margin-top: 7px;
}
header h1 {
    margin: 0;
    display: flex;
    justify-content: start;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    color: #000000;
    text-decoration: none;
}
main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.produk-list {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 300px;
}

.produk-item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.produk-item img {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.buy {
    background-color: #00cbf4;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.buy:hover {
    background-color: #0e77ff;
}

.buy:active {
    background-color: #514bff;
    transform: translateY(2px);
}

.buy:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.buy-now {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #00cbf4;
    color: #ffffff;
    border: none;

}

.buy-now:hover {
    background-color: #0e77ff;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #dddddd;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-family: arial;
    font-size: 14px;
}

.button {
    width: 130px;
    height: 25px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffea00;
    font-weight: bold;
}

.thumbnail {
    justify-content: center;
    height: 200px;
    width: 50%;
    display: flex;


}

.container {
    width: 100%;
    justify-content: center;
    display: flex;
}

.text {
    display: flex;
    margin-left: 5px;
    margin-top: 5px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
}

.header0 {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.cg {
    width: 100%;
    height: 500px;
    background-color: #dddddd;
    justify-content: space-between;
    padding: 10px;
    display: flex;


    box-shadow: 10px 50px 20px rgba(0, 0, 0, 0.5);


}

.text-span {
    margin-left: px;
    width: 50%;
    height: 450px;
}

.b1 {
    color: #dddddd;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.b2 {
    color: #333;
    outline-color: #333;
}

.cg1 {
    width: 100%;
    display: flex;
    background-color: #dddddd;
    height: 750px;
    padding-top: 10px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.g1 {
    width: 30%;
    height: 450px;
    padding: 15px;
}

.g-1 {
    width: 100%;
    height: 600px;
}

.g2 {
    width: 40%;


    display: flex;
    flex-wrap: wrap;
}

.g3 {
    width: 30%;
    height: 450px;
    padding: 15px;
}

.text-g2 {
    display: flex;
}

.text-g2-1 {
    height: 200px;
}

.g-2 {
    width: 100%;
    height: 450px;
}

.g-2-1 {
    height: 600px;
    width: 100%;
}

.b3 {
    color: #dddddd;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: #333;
    outline-color: #333;
    text-align: center;
    justify-content: center;

}

.text10 {
    font-size: 20px;
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
    font-style: unset;
}
.c1 {
    width: 245px;
    height: 262px;
    background-color: #ffffff;
    display: flex;

}
.all-c {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.c1 {

    align-items: center;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;

}
.c1-2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 2px;
    color: #8a8018;
    vertical-align: middle;
    font-size: 15px;
    align-items: center;
    text-align: center;
}
.c1-1 {
    vertical-align: middle;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #636363;

    text-align: center;
}
.container0 {
    width: 100%;
    height: auto;
    background-color: #dddddd;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.header0 {
    margin: px;
}
.all-i {
    height: 726px;
    width: 1100px;
    justify-content: space-around;
    display: flex;
}
.i1 {
    width: 306px;
    height: 650px;

}
.text-g {
    font-size: 22px;
    text-align: center;
    min-height: 31px;
    margin-top: -350px;
    color: white;
    font-weight: bold;
}